 * {
    margin: 0;
    padding: 0;
 }

 h1 {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
 }

 .backgroundCanvas {
    background-color: #E9F2FC;
    height: 100vh;
 }

 .headerContainer {
    background-color: #E9F2FC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2em
 }

 .toolbar {
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
 }

 .btn1 {}

 .verticalFormContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
    border-style: solid;
    border-width: .15em;
    border-radius: 1.2em;
    margin: 1.5em;
    padding: 2em;
 }

 .textContainer {}

 .pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .formItem {
    margin: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
 }

 .textInput {

 }

 .radioMenu {
   display: flex;
   flex-direction: column;
 }